<section class="min-h-screen my-5 flex pt-5 gap-3 flex-col">
  <section class="flex justify-between items-center">
    <section>
      <p class="text-lg md:text-xl font-light text-primary">{{ title }}</p>
      <small class="font-light text-xs italic">Showing 1 - 10 </small>
    </section>

    <!-- Buttton Tabs -->
    <section class="flex gap-2">
      <div class="">
        <button
          (click)="toggleView('News Feed')"
          type="button"
          class="text-xs px-4 md:px-6 flex items-center gap-2 py-2 rounded-3xl font-light border btn"
          [ngClass]="{ 'bg-primary text-white': title === 'News Feed' }"
        >
          <i class="fa-solid fa-rss"></i>
          All
        </button>
      </div>
      <div class="">
        <button
          (click)="toggleView('Bookmarks')"
          type="button"
          class="text-xs px-4 md:px-6 flex items-center gap-2 py-2 rounded-3xl font-light border btn"
          [ngClass]="{ 'bg-primary text-white': title === 'Bookmarks' }"
        >
          <i *ngIf="bookmarks.length > 0" class="fa-solid fa-bookmark"></i>
          <i *ngIf="!(bookmarks.length > 0)" class="fa-regular fa-bookmark"></i>
          Bookmarks
        </button>
      </div>
    </section>
  </section>

  <!-- MarkUp to display  Articles State(Loading, Error and Data) -->
  <section *ngIf="title === 'News Feed'; else bookmarkList">
    <section *ngIf="articles$ | async as articlesState">
      <ng-container *ngIf="articlesState.loading; else content">
        <section class="article-grid">
          <article-loader></article-loader>
          <article-loader></article-loader>
          <article-loader></article-loader>
          <article-loader></article-loader>
          <article-loader></article-loader>
          <article-loader></article-loader>
        </section>
      </ng-container>

      <ng-template #content>
        <ng-container *ngIf="articlesState.error; else articles">
          {{ articlesState.error }}
        </ng-container>

        <ng-template #articles>
          <ng-container *ngIf="articlesState.data.length > 0; else noRecord">
            <section class="article-grid">
              <app-article
                *ngFor="let article of articlesState.data"
                [article]="article"
                [isBookmarked]="isBookmarked(article)"
                (addToBookmark)="addBoomark($event)"
                (removeBookmark)="removeBookmark($event)"
              ></app-article>
            </section>
          </ng-container>
        </ng-template>
      </ng-template>

      <ng-template #noRecord class="text-center">
        No Feed Available
      </ng-template>
    </section>
  </section>

  <!-- Markup to display Bookmarks -->
  <ng-template #bookmarkList>
    <section class="article-grid" *ngIf="bookmarks.length > 0">
      <app-article
        *ngFor="let article of bookmarks"
        [article]="article"
        [isBookmarked]="isBookmarked(article)"
        (addToBookmark)="addBoomark($event)"
        (removeBookmark)="removeBookmark($event)"
      ></app-article>
    </section>

    <section class="text-center" *ngIf="bookmarks.length < 1">
      No Bookmark Found
    </section>
  </ng-template>
</section>
