<article
  class="flex bg-white rounded-2xl p-3 max-w-xl flex-col items-start justify-between"
>
  <div class="flex items-center gap-x-4 text-xs">
    <time class="text-gray-500">
      <p>{{ article.publishedAt | date : "medium" }}</p>
    </time>
    <span
      class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
      >{{ article.source.name }}</span
    >
  </div>
  <div class="group relative">
    <h3
      class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
    >
      <a href="#">
        <span class="absolute inset-0"></span>
        {{ article.title }}
      </a>
    </h3>
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
      {{ article.description }}
    </p>
  </div>

  <div class="w-full mt-8 flex text-xs justify-between items-center gap-x-4">
    <section>
      <span
        class="relative z-10 flex items-center gap-2 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
      >
        <i class="fa-regular fa-user"></i>
        {{ article.author }}</span
      >
    </section>

    <section class="flex gap-2 items-center text-xs">
      <span>
        <a
          target="_blank"
          href="{{ article.url }}"
          class="relative z-10 rounded-full flex items-center gap-2 bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
        >
          Read More <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </span>

      <span
        (click)="
          isBookmarked
            ? handleRemoveBookmark(article.url)
            : handleAddBookmark(article)
        "
        class="border w-8 h-8 cursor-pointer flex justify-center items-center rounded-full"
        [ngClass]="{ 'border-primary border-2 border-double': isBookmarked }"
      >
        <i *ngIf="isBookmarked" class="fa-solid fa-bookmark"></i>
        <i *ngIf="!isBookmarked" class="fa-regular fa-bookmark"></i>
      </span>
    </section>
  </div>
</article>
