<article class="article-loaders">
  <div class="flex items-center gap-x-4 text-xs">
    <div class="h-4 bg-gray-300 rounded w-24"></div>
    <div class="z-10 rounded-full bg-gray-300 w-20 h-6"></div>
  </div>
  <div class="group w-full">
    <div class="mt-3 h-6 bg-gray-300 rounded w-3/4"></div>
    <div class="mt-5 h-4 bg-gray-300 rounded w-full"></div>
    <div class="mt-2 h-4 bg-gray-300 rounded w-5/6"></div>
    <div class="mt-2 h-4 bg-gray-300 rounded w-2/3"></div>
  </div>

  <div class="w-full mt-8 flex text-xs justify-between items-center gap-x-4">
    <div class="h-6 bg-gray-300 rounded w-24"></div>

    <section class="flex gap-2 items-center">
      <div class="h-6 bg-gray-300 rounded w-20"></div>
      <div class="border w-8 h-8 rounded-full bg-gray-300"></div>
    </section>
  </div>
</article>
