/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1f295a;
}
body {
  background-color: #eceef1;
  font-family: "Raleway", sans-serif;
}

.container-text {
  @apply px-4 md:px-6  2xl:px-10;
}

@layer components {
  .container {
    @apply w-full md:w-5/6 mx-auto;
  }

  .article-grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full gap-4;
  }
  .card {
    @apply text-secondary bg-white rounded-lg py-4 px-5 dark:text-white dark:glass;
  }

  .container-text {
    @apply px-4 md:px-4 2xl:px-10;
  }
//   .ellipsis-overflow {
//     @apply overflow-ellipsis overflow-hidden whitespace-nowrap w-[50px] lg:w-1/3;
//   }
}
